header li{
    display: inline-block;
    padding: 20px; right: auto;
}

header{
    background-color: grey;
}

.carousel{
    background-color: aquamarine;
    width: 100%; height: 15rem;
}

.Fellow{
    text-align: center;
}

.art1{
    background-color: aquamarine;
    width: 400px; height: 15rem;
}

.art2{
    background-color: aquamarine;
    width: 400px; height: 15rem;
}

.art3{
    background-color: aquamarine;
    width: 400px; height: 15rem;
}

.article{
    display: flex;
    justify-content: space-between;
}

form{
   display: flex;
   flex-direction: column;
}

textarea{
    height: 200px;
}

input,textarea{
    border: 3px solid black;
}

.fellows{
    background-color: aquamarine;
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
}

