.header {
    height: 100px;
    background-color: lavender;
  }
  
  .container {
    float: left;
    width: 70%;
    height: 300px;
    background-color: burlywood;
  }
  
  .recommendation {
    float: right;
    height: 300px;
    width: 30%;
    background-color: lightcoral;
  }
  
  .footer {
    clear: both;
    height: 100px;
    background-color: lightgreen;
  }
  